<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../../static/css/material-dashboard.minf066.css?v=2.1.0" rel="stylesheet" />
</head>

<body class="">
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <form id="RegisterValidation" action="#" method="">
                            <div class="card ">
                                <div class="card-header card-header-rose card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">mail_outline</i>
                                    </div>
                                    <h4 class="card-title">Register Form</h4>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Username</label>
                                                    <input class="form-control" type="text" name="required" required="true" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Email address</label>
                                                    <input type="email" class="form-control" id="exampleemalil" name="email" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="examplePassword" class="bmd-label-floating"> Password *</label>
                                                    <input type="password" class="form-control" id="examplePassword" required="true" name="password">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="examplePassword1" class="bmd-label-floating"> Confirm Password *</label>
                                                    <input type="password" class="form-control" id="examplePassword1" required="true" equalTo="#examplePassword" name="password_confirmation">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">First Name</label>
                                                    <input class="form-control" type="text" name="required" required="true" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Last Name</label>
                                                    <input class="form-control" type="text" name="required" required="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Address</label>
                                                    <input class="form-control" type="text" name="required" required="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">City</label>
                                                    <input class="form-control" type="text" name="required" required="true" />

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Country</label>
                                                    <input class="form-control" type="text" name="required" required="true" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Postal Code</label>
                                                    <input class="form-control" type="text" name="number" number="true" required="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="info-text"> Gender: </h5>
                                                <form>
                                                    <input type="radio" name="gender" value="male" checked> Male
                                                    <input type="radio" name="gender" value="female"> Female
                                                    <input type="radio" name="gender" value="other"> Other
                                                </form>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Contact number</label>
                                                    <input class="form-control" type="text" name="Phone Number" pattern="[7-9]{1}[0-9]{9}" title="Phone number with 7-9 and remaing 9 digit with 0-9" required="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right">
                                            <div class="form-check mr-auto">
                                            </div>
                                            <button type="submit" class="btn btn-rose">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!--   Core JS Files   -->
                <script src="../../static/js/core/jquery.min.js"></script>
                <script src="../../static/js/core/popper.min.js"></script>
                <script src="../../static/js/core/bootstrap-material-design.min.js"></script>
                <script src="../../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
                <script src="../../static/js/material-dashboard.minf066.js?v=2.1.0" type="text/javascript"></script>

            </div>
        </div>
    </div>
</body>

</html>